.header h1 {
    padding-top: 60px;
    padding-bottom: 50px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 60px;
    /* This will color the heading font white. */
    color: black;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-decoration-style: strong;
    text-align: center;
    /* The background of the heading element will now be black. */
    background-color: #cdcdcd;
  }

div class="container" {

}

.navbar {
    padding: 10px;
    /* This will color the heading font white. */
    color: black;
    /* Align the text to the center of its enclosing element (e.g. div). */
    text-align: left;
    /* The background of the heading element will now be black. */
    background-color: #5191fd;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
}

.navbar li a {
    color: black;
    text-decoration: none;